<a href="https://colab.research.google.com/github/SRSurenahalli/Python_practise/blob/main/pandas_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [2]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [3]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [6]:
df['median_income'].max()

15.0001

In [9]:
df['total_bedrooms'].min()

2.0

In [11]:
df.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [12]:
df.max()

longitude               -114.4900
latitude                  41.9200
housing_median_age        52.0000
total_rooms            30450.0000
total_bedrooms          5419.0000
population             11935.0000
households              4930.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [14]:
df[['total_bedrooms']]

      total_bedrooms
0              661.0
1              310.0
2              507.0
3               15.0
4              244.0
...              ...
2995           642.0
2996          1082.0
2997           201.0
2998            14.0
2999           263.0

[3000 rows x 1 columns]

In [15]:
df.total_bedrooms.describe()

count    3000.000000
mean      529.950667
std       415.654368
min         2.000000
25%       291.000000
50%       437.000000
75%       636.000000
max      5419.000000
Name: total_bedrooms, dtype: float64

In [16]:
df[['total_bedrooms']].describe()

       total_bedrooms
count     3000.000000
mean       529.950667
std        415.654368
min          2.000000
25%        291.000000
50%        437.000000
75%        636.000000
max       5419.000000

In [17]:
df.total_bedrooms.std()

415.6543681363232

In [18]:
df.total_bedrooms.mean()

529.9506666666666

In [19]:
df.total_bedrooms.min()

2.0

In [20]:
df.total_bedrooms.max()

5419.0