<a href="https://colab.research.google.com/github/SRSurenahalli/Python_practise/blob/main/python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [9]:
help("modules")

Please wait a moment while I gather a list of all available modules...

/usr/local/lib/python3.7/dist-packages/IPython/kernel/__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)
WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]
/usr/local/lib/python3.7/dist-packages/datascience/tables.py:17: MatplotlibDeprecationWarning:

The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.

/usr/local/lib/python3.7/dist-packages/datascience/util.py:10: MatplotlibDeprecationWarning:

The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.

Downloading http://dlib.net/files/shape_predictor_68_face_landmarks.dat.bz2 to /root/mlxtend_data/shape_predictor_68_face_landmarks.dat.bz2

/usr/lib/python3.7/pkgutil.py:92: UserWarning:

The DICOM readers are highly experimental, unstable, and only work for Siemens time-series at the moment
Please use with caution.  We would be grateful for your help in improving them

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning:

The twython library has not been installed. Some functionality from the twitter package will not be available.

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning:

The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.

WARNING:pystan:This submodule contains experimental code, please use with caution

No CUDA runtime is found, using CUDA_HOME='/usr/local/cuda'
Cython              colorlover          keras               readline
IPython             colorsys            keras_preprocessing regex
OpenGL              community           keyword             reprlib
PIL                 compileall          kiwisolver          requests
ScreenResolution    concurrent          korean_lunar_calendar requests_oauthlib
__future__          configparser        lib2to3             resampy
_abc                contextlib          libfuturize         resource
_ast                contextlib2         libpasteurize       retrying
_asyncio            contextvars         librosa             rlcompleter
_bisect             convertdate         lightgbm            rmagic
_blake2             copy                linecache           rpy2
_bootlocale         copyreg             llvmlite            rsa
_bz2                coverage            lmdb                runpy
_cffi_backend       coveralls           locale              samples
_codecs             crcmod              logging             sched
_codecs_cn          crypt               lsb_release         scipy
_codecs_hk          csv                 lunarcalendar       scs
_codecs_iso2022     ctypes              lxml                seaborn
_codecs_jp          cufflinks           lzma                secrets
_codecs_kr          curses              macpath             select
_codecs_tw          cv2                 mailbox             selectors
_collections        cvxopt              mailcap             semver
_collections_abc    cvxpy               markdown            send2trash
_compat_pickle      cycler              markupsafe          setuptools
_compression        cymem               marshal             setuptools_git
_contextvars        cython              math                shapely
_crypt              cythonmagic         matplotlib          shelve
_csv                daft                matplotlib_inline   shlex
_ctypes             dask                matplotlib_venn     shutil
_ctypes_test        dataclasses         mimetypes           signal
_curses             datascience         missingno           simplegeneric
_curses_panel       datetime            mistune             site
_cvxcore            dateutil            mizani              sitecustomize
_datetime           dbm                 mlxtend             six
_dbm                dbus                mmap                skimage
_decimal            debugpy             modulefinder        sklearn
_distutils_hack     decimal             more_itertools      sklearn_pandas
_dummy_thread       decorator           moviepy             slugify
_ecos               defusedxml          mpmath              smart_open
_elementtree        descartes           msgpack             smtpd
_functools          difflib             multiprocess        smtplib
_hashlib            dill                multiprocessing     sndhdr
_heapq              dis                 multitasking        snowballstemmer
_imp                distributed         murmurhash          socket
_io                 distutils           music21             socketserver
_json               dlib                natsort             socks
_locale             docopt              nbclient            sockshandler
_lsprof             docs                nbconvert           softwareproperties
_lzma               doctest             nbformat            sortedcontainers
_markupbase         docutils            nest_asyncio        soundfile
_md5                dopamine            netCDF4             spacy
_multibytecodec     dot_parser          netrc               sphinx
_multiprocess       dummy_threading     networkx            spwd
_multiprocessing    easydict            nibabel             sql
_opcode             ecos                nis                 sqlalchemy
_operator           editdistance        nisext              sqlite3
_osx_support        ee                  nltk                sqlparse
_pickle             email               nntplib             sre_compile
_plotly_future_     en_core_web_sm      notebook            sre_constants
_plotly_utils       encodings           ntpath              sre_parse
_posixsubprocess    entrypoints         nturl2path          srsly
_py_abc             enum                numba               ssl
_pydecimal          ephem               numbergen           stat
_pyio               erfa                numbers             statistics
_pyrsistent_version errno               numexpr             statsmodels
_pytest             et_xmlfile          numpy               storemagic
_queue              examples            nvidia_smi          string
_random             fa2                 oauth2client        stringprep
_rinterface_cffi_abi fastai              oauthlib            struct
_rinterface_cffi_api fastdtw             ogr                 subprocess
_scs_direct         fastprogress        okgrade             sunau
_scs_indirect       fastrlock           opcode              symbol
_scs_python         faulthandler        openpyxl            sympy
_sha1               fbprophet           operator            sympyprinting
_sha256             fcntl               opt_einsum          symtable
_sha3               feather             optparse            sys
_sha512             filecmp             os                  sysconfig
_signal             fileinput           osgeo               syslog
_sitebuiltins       filelock            osqp                tables
_socket             firebase_admin      osqppurepy          tabnanny
_soundfile          fix_yahoo_finance   osr                 tabulate
_sqlite3            flask               ossaudiodev         tarfile
_sre                flatbuffers         packaging           tblib
_ssl                fnmatch             palettable          telnetlib
_stat               folium              pandas              tempfile
_string             formatter           pandas_datareader   tensorboard
_strptime           fractions           pandas_gbq          tensorboard_data_server
_struct             ftplib              pandas_profiling    tensorboard_plugin_wit
_symtable           functools           pandocfilters       tensorflow
_sysconfigdata_m_linux_x86_64-linux-gnu future              panel               tensorflow_datasets
_testbuffer         gast                param               tensorflow_estimator
_testcapi           gc                  parser              tensorflow_gcs_config
_testimportmultiple gdal                parso               tensorflow_hub
_testmultiphase     gdalconst           past                tensorflow_io_gcs_filesystem
_thread             gdalnumeric         pasta               tensorflow_metadata
_threading_local    gdown               pathlib             tensorflow_probability
_tkinter            genericpath         patsy               termcolor
_tracemalloc        gensim              pdb                 terminado
_warnings           geographiclib       pep517              termios
_weakref            geopy               pexpect             test
_weakrefset         getopt              pickle              testpath
_xxtestfuzz         getpass             pickleshare         tests
abc                 gettext             pickletools         text_unidecode
absl                gi                  pip                 textblob
aifc                gin                 pipes               textwrap
alabaster           github2pypi         piptools            theano
albumentations      glob                pkg_resources       thinc
altair              glob2               pkgutil             this
antigravity         gnm                 plac                threading
apiclient           google_auth_httplib2 plac_core           threadpoolctl
appdirs             google_auth_oauthlib plac_ext            tifffile
apt                 google_drive_downloader plac_tk             time
apt_inst            googleapiclient     platform            timeit
apt_pkg             googlesearch        plistlib            tkinter
aptsources          graphviz            plotly              tlz
argcomplete         greenlet            plotlywidget        token
argon2              gridfs              plotnine            tokenize
argparse            grp                 pluggy              toml
array               grpc                pooch               tomli
arviz               gspread             poplib              toolz
ast                 gspread_dataframe   portpicker          torch
astor               gym                 posix               torchaudio
astropy             gzip                posixpath           torchsummary
astunparse          h5py                pprint              torchtext
asynchat            hashlib             prefetch_generator  torchvision
asyncio             heapdict            preshed             tornado
asyncore            heapq               prettytable         tqdm
atari_py            hijri_converter     profile             trace
atexit              hmac                progressbar         traceback
atomicwrites        holidays            prometheus_client   tracemalloc
attr                holoviews           promise             traitlets
audioop             html                prompt_toolkit      tree
audioread           html5lib            pstats              tty
autograd            http                psutil              turtle
autoreload          httpimport          psycopg2            tweepy
babel               httplib2            pty                 typeguard
backcall            httplib2shim        ptyprocess          types
base64              humanize            pvectorc            typing
bdb                 hyperopt            pwd                 typing_extensions
bin                 ideep4py            py                  tzlocal
binascii            idna                py_compile          unicodedata
binhex              imageio             pyarrow             unittest
bisect              imagesize           pyasn1              uritemplate
bleach              imaplib             pyasn1_modules      urllib
blis                imblearn            pyclbr              urllib3
bokeh               imgaug              pycocotools         uu
boost               imghdr              pycparser           uuid
bottleneck          imp                 pyct                vega_datasets
branca              importlib           pydata_google_auth  venv
bs4                 importlib_metadata  pydoc               vis
bson                importlib_resources pydoc_data          warnings
builtins            imutils             pydot               wasabi
bz2                 inflect             pydot_ng            wave
cProfile            iniconfig           pydotplus           wcwidth
cachecontrol        inspect             pydrive             weakref
cached_property     intervaltree        pyemd               webbrowser
cachetools          io                  pyexpat             webencodings
caffe2              ipaddress           pyglet              werkzeug
calendar            ipykernel           pygments            wheel
catalogue           ipykernel_launcher  pygtkcompat         widgetsnbextension
certifi             ipython_genutils    pylab               wordcloud
cffi                ipywidgets          pymc3               wrapt
cftime              isympy              pymeeus             wsgiref
cgi                 itertools           pymongo             xarray
cgitb               itsdangerous        pymystem3           xdrlib
chardet             jax                 pynvml              xgboost
charset_normalizer  jaxlib              pyparsing           xkit
chess               jdcal               pyrsistent          xlrd
chunk               jedi                pysndfile           xlwt
clang               jieba               pystan              xml
click               jinja2              pytest              xmlrpc
client              joblib              python_utils        xxlimited
cloudpickle         jpeg4py             pytz                xxsubtype
cmake               json                pyviz_comms         yaml
cmath               jsonschema          pywt                yellowbrick
cmd                 jupyter             pyximport           zict
cmdstanpy           jupyter_client      qdldl               zipapp
code                jupyter_console     qtconsole           zipfile
codecs              jupyter_core        qtpy                zipimport
codeop              jupyterlab_pygments queue               zipp
colab               jupyterlab_widgets  quopri              zlib
collections         kaggle              random              zmq
colorcet            kapre               re

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv")

In [11]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [12]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [13]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [15]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [19]:
#to create list of columns
cols = list(df.columns)
cols

['rank', 'discipline', 'phd', 'service', 'sex', 'salary']

In [18]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [21]:
#To generate summary statistics
df_summary = df.describe()
print(df_summary)

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [22]:
df_summary.iloc[[4,5,6],[0,1]]

       phd  service
25%  10.25     5.25
50%  18.50    14.50
75%  27.75    20.75

In [23]:
df.median()

phd            18.5
service        14.5
salary     104671.0
dtype: float64

In [24]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [31]:
df['service'].max()

51

In [32]:
df.quantile(0.25)

phd           10.25
service        5.25
salary     88612.50
Name: 0.25, dtype: float64

In [33]:
df.median()

phd            18.5
service        14.5
salary     104671.0
dtype: float64

In [34]:
df["phd"].min()

1

In [35]:
df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [36]:
df['service'].mean()

15.051282051282051

In [40]:
round(df['service'].mean(),2)

15.05

In [41]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [37]:
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [42]:
df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [43]:
df.head(30)

         rank discipline  phd  service   sex  salary
0        Prof          B   56       49  Male  186960
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
3        Prof          A   40       31  Male  131205
4        Prof          B   20       18  Male  104800
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778
12   AsstProf          B    1        0  Male   88000
13       Prof          B   35       33  Male  162200
14       Prof          B   25       19  Male  153750
15       Prof          B   17        3  Male  150480
16   AsstProf          B    8        3  Male   75044
17   AsstProf          B    4        0  Male   92000
18       Prof          A   19        7  Male  107300
19       Prof          A   29       27  Male  150500
20   AsstProf          B    4        4  Male   92000
21       Prof          A   33       30  Male  103106
22   AsstProf          A    4        2  Male   73000
23   AsstProf          A    2        0  Male   85000
24       Prof          A   30       23  Male   91100
25       Prof          B   35       31  Male   99418
26       Prof          A   38       19  Male  148750
27       Prof          A   45       43  Male  155865
28   AsstProf          B    7        2  Male   91300
29       Prof          B   21       20  Male  123683

In [45]:
round(df.head(30).mean(),2)

phd            23.60
service        19.03
salary     113804.63
dtype: float64

In [38]:
df.discipline.value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [39]:
df['discipline'].value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [50]:
df['salary'].head()

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64

In [49]:
df[['salary','phd','service']].head()

   salary  phd  service
0  186960   56       49
1   93000   12        6
2  110515   23       20
3  131205   40       31
4  104800   20       18