<a href="https://colab.research.google.com/github/SRSurenahalli/Python_practise/blob/main/python_pgm1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  import numpy as np
  import pandas as pd
  import matplotlib as mpl
  import seaborn as sns

In [ ]:
df = pd.read_csv("/content/california_housing_test.csv")

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
df.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [ ]:
df_50 = df.head(10).mean()

In [ ]:
df_population = df.population

In [ ]:
df_population.describe()

count     3000.000000
mean      1402.798667
std       1030.543012
min          5.000000
25%        780.000000
50%       1155.000000
75%       1742.750000
max      11935.000000
Name: population, dtype: float64

In [ ]:
df.population.describe()

count     3000.000000
mean      1402.798667
std       1030.543012
min          5.000000
25%        780.000000
50%       1155.000000
75%       1742.750000
max      11935.000000
Name: population, dtype: float64

In [ ]:
df.population.count()

3000

In [ ]:
df.population.mean()

1402.7986666666666